<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성 폼</title>
</head>
<body>
<div class="layout">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Name</label>
    <input type="text" id="exampleFormControlInput1" placeholder="Your Name">
  </div>
  <br>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label><br>
    <textarea id="exampleFormControlTextarea1" rows="5">Write Something</textarea>
  </div>
  <button type="submit">작성</button>
</div>
</body>
</html>