<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>UPDATE</title>
</head>
<body>
<form action="/board/update" method="post" name="updateForm">
  <input type="hidden" name="id" th:value="${boardUpdate.id}">
  작성자 : <input type="text" name="boardWriter" th:value="${boardUpdate.boardWriter}" readonly> <br>
  비밀번호 : <input type="text" name="boardPass" id="boardPass"> <br>
  제목 : <input type="text" name="boardTitle" th:value="${boardUpdate.boardTitle}"> <br>
  내용 : <textarea name="boardContents" col="30" rows="10" th:value="${boardUpdate.boardContents}"></textarea> <br>
  <input type="hidden" name="boardHits" th:value="${boardUpdate.boardHits}">
  <input type="submit" value="글작성">
</form>
<script>
  const boardUpdate = () => {
    const pass = [[${boardUpdate.boardPass}]];
    const inputPass = document.getElementById("boardPass").value;
    if (pass == inputPass) {
      document.updateForm.submit();
    } else {
      alert("비밀번호가 일치하지 않습니다!");
    }
  }
</script>
</body>
</html>