<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" type="text/css" href="/resources/style.css">
</head>
<body>
<h1>Peeky Placeholders</h1>

<form>
    <label>
        <span>Name</span>
        <input id="fname" type="text" placeholder="Name">
    </label>
    <br>
    <label>
        <span>Email</span>
        <input type="email" placeholder="Email">
    </label>
    <br>
    <input type="submit" value="Send">
</form>
</div>
</body>
</html>