<!-- table.jsp -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>기록</title>
</head>
<body>
<h1>기록</h1>
<table border="0">
  <tr>
    <th>번호</th>
    <th>보유 원룸 수</th>
    <th>매진 월 임대료</th>
    <th>월 임대료 증액</th>
    <th>유지비</th>
    <th>최상 월 임대료</th>
    <th>임대된 원룸 수</th>
    <th>최고 수익</th>
    <th>자기 이름</th>
    <th>IP주소</th>
    <th>등록 날짜 및 시간</th>
  </tr>
    <tr>
      <td>${room.number}</td>
      <td>${room.roomCount}</td>
      <td>${room.isSoldOut}</td>
      <td>${room.monthlyRent}</td>
      <td>${room.monthlyRentIncrease}</td>
      <td>${room.maintenanceCost}</td>
    </tr>
</table>
</body>
</html>
